// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=latin,latin-ext);
// @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin,latin-ext);

@font-face {
  font-family: 'Roboto_bold';
  src:  url('../fonts/roboto_bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto_bold/roboto-bold-webfont.woff') format('woff'),
        url('../fonts/roboto_bold/roboto-bold-webfont.ttf')  format('truetype'),
        url('../fonts/roboto_bold/roboto-bold-webfont.svg#Roboto_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.roboto_bold{
  font-family: "Roboto_bold";
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto_regular';
  src:  url('../fonts/roboto_regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto_regular/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto_regular/roboto-regular-webfont.ttf')  format('truetype'),
        url('../fonts/roboto_regular/roboto-regular-webfont.svg#Roboto_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.roboto_regular{
  font-family: "Roboto_regular";
  font-weight: 100;
}

.font-primary{
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.font-primary-ultra-bold{
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.font-primary-bold{
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.font-primary-light{
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.font-primary-ultra-light{
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
p, h5, h6, a, small{
  @extend .roboto_regular;
}
h1{
  @extend .roboto_bold;
}
h2, h3, h4, b, strong{
  @extend .roboto_bold;
}
