@import "compass/css3";
@import "libs"; 
@import "libs/media-querys";
@import "libs/modules-teah"; 
@import "fonts";
@import "modules";
@import "vars";
  
body{
	margin: 0;
	padding: 0;

	.panel{
		position: fixed;
		left: -15.625em;
		width: 15.625em;
		background: #fff;
	    padding: 30px 20px 0 20px;
	    box-sizing: border-box;
	    z-index: 2;
	    img{
	    	margin: 0 0 20px 0;
	    }
	    ul{
	    	margin: 0 0 20px 0;
	    	a{
	    		color: #000;
	    	}
	    }
	    ul.second{
	    	a{
	    		color: #777;
	    	}
	    }
	    .menu-link{
		    float: right;
    		margin: 8px 0;
	    }
	}

	.wrap {
		position: relative;
		max-width: 80%;
		margin: 0 auto;
		padding: 20px;
	}
	
	header{
		.blue, .white{
    		padding: 25px 40px;
		}
		.blue{
			background-color: #1B2546;
		}
		.white{
			background-color: #fff;
			.breadcrumbs{
				li{
					display: inline-block;
    				margin: 5px 10px;
    				a{
    					color: #1B2546;
    				}
    				&.active{
    					a{
    						color: #CB9A24;    						
    					}
    				}
    			}
			}
		}
		.menu-link{
			span{
				color: #CB9A24;
			}
		}
		.primary{
			.logo{
			    margin: 0 90px 0 0;
				display: inline-block;
			}
			.second{
				display: inline-block;
				li{
					color: #fff;
					margin: 0 20px 0 0;
					display: inline-block;
					text-transform: uppercase;
				}
			}
		}
	}

	.video{
		width: 100%;
		height: 390px;
		background-image: url("../images/bg.jpg");
		background-size: cover;
    	background-position: center center;
	}

	.info{
		#accordian {
			margin: 80px auto 40px auto;
			h3{
				font-size: 12px;
				line-height: 34px;
				padding: 0;
				cursor: pointer;
				color: #000;
				border-top: 1px solid #DCDBDB;
				margin: 0;
				&:hover {
					background-color: #F9F9F9;
				}
				span{
					font-size: 16px;
					margin-right: 10px;
				}
				&:last-child{
					border-bottom: 1px solid #DCDBDB;
				}
			}
			li{
				&.active{
					ul{
						display: block;
					}
				}
			}
			ul{
				ul{
					display: none;
					li{
						a{
							color: #000;
							text-decoration: none;
							font-size: 11px;
							line-height: 27px;
							display: block;
							padding: 0 0 0 0;
    						margin: 0 0 0 30px;
							@include transition( all 0.15s);
						}
					}
				}
			}
		}
		article{
			h2{
			    font-family: "Roboto_regular";
    			font-weight: normal;
			}
			.group{
				text-align: center;
				margin: 0 0 25px 0;
				.item{
					display: inline-block;
					vertical-align: top;
					width: (100%/8);
					min-width: 120px;
					height: 120px;
					border: 1px solid #C2DDF1;
					border-radius: 20px;
					padding: 10px;
					margin: 10px;
					box-sizing: border-box;
					.figure{
						background-image: url("../images/icon-spritesheet.png");
						height: 45px;
						margin: 10px auto 0 auto;
						display: block;
						width: 100%;
						background-position: 0px 0px;
					}
					p{
						font-size: 12px;
						text-align: center;
						margin: 15px auto 10px auto;
					}
					&.f1{
						.figure{
							width: 49px;
							background-position: 0px 0px;
						}
					}
					&.f2{
						.figure{
						    width: 41px;
	   						background-position: -49px 0px;
						}
					}
					&.f3{
						.figure{
						    width: 61px;
	   						background-position: -90px 0px;
						}
					}
					&.f4{
						.figure{
						    width: 68px;
	   						background-position: -152px 0px;
						}
					}
					&.f5{
						.figure{
						    width: 51px;
	   						background-position: -220px 0px;
						}
					}
					&.f6{
						.figure{
						    width: 59px;
	   						background-position: -270px 0px;
						}
					}
				}
			}
		}
		.grey{
			background-color: #F9F9F9;
    		padding: 15px 0 35px 0;
    		h4{
    			margin: 20px 0;
    		}
		}
	}

	.directors{
		width: 100%;
		background-image: url("../images/bg.jpg");
		background-size: cover;
    	background-position: center center;
		padding: 25px 0 35px 0;
		h2{
			color: #fff;
			text-align: center;
			margin: 5px auto 20px auto;
		}
		.group{
    		margin: 0 auto;
    		text-align: center;
    		.item{
				width: 30%;
				display: inline-block;
				background-color: #fff;
				padding: 40px 0;
				box-sizing: border-box;
				margin: 7px 6px;
				@include transition(all 0.3s);
				h3{
					max-width: 155px;
					width: 120px;
					margin: 0 20px 0 0;
					vertical-align: middle;
					display: inline-block;
					text-align: left;
					@extend .roboto_regular;
				}
				.table{
					width: 100%;
				}
				&:hover{
					background-color: #1B2546;
					h3{
						color: #fff;
					}
					span{
						color: #BD8D32;
					}
				}
    		}
		}
		.description{
			// max-width: 84%;
			margin: 0 auto;
			color: #fff;
			font-size: 11px;
			.quote{
				text-align: center;
				display: block;
				font-size: 10px;
				position: relative;
				width: 140px;
				margin: 0 auto;
				float: right;
				font-style: italic;
				@extend .roboto_regular;
				.right, .left{
					position: absolute;
					font-size: 7px;
				}
				.left{
					top: -2px;
					left: -6px;
				}
				.right{
					bottom: -2px;
					right: -10px;
				}
			}
		}
	}

	.contact{
		h2{
			margin: 40px 0;
		}
		#map{
		    height: 380px;
    		width: 100%;
		}
		.desc{
			margin: 40px 0 0 0;
		}
		.info_num{
			counter-reset: my-counter;
			background-color: #F8F8F8;
			border: 1px solid #D4D4D4;
			border-bottom: 7px solid #123573;
			padding: 10px 15px;
			dt{
				padding: 0 0 10px 0;
				margin: 0 0 10px 0;
				border-bottom: 1px solid #E5E5E5;
			}
		}
		.info_num dt:before {
			content: counter(my-counter);
			counter-increment: my-counter;
			padding: 0px 6px;
			display: inline-block;
			margin: 0px 4px 0 0;
			background-color: #123573;
			border-radius: 30px;
			color: #fff;
			font-size: 12px;
		}
	}

	footer{
		.grey{
			background-color: #F8F8F8;
			padding: 30px 0;
			.container{
				.col{
					padding: 30px 40px 30px 40px;
					margin: 10px 0px;
					border-right: 1px solid #D4D4D4;
					min-height: 250px;
					&:last-child{
						border: none;
					}
					.logotype{
						margin: 0 0 40px 0;
					}
					li{
						margin: 0 0 7px 0;
					}
				}
				.title{
					color: $blue;
					margin: 0 0 20px 0;
    				display: block;
					@extend .roboto_bold;
				}
				a, p{
					font-size: 14px;
					color: #8C8C8C;
					@extend .roboto_regular;	
				}
				span{
					@extend .roboto_bold;
				}
			}
		}
		.dark-grey{
			background-color: #EEEEEE;
		    text-align: center;
			padding: 15px 0;
		}
	}
}












